.gridcell {
    height: 35px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer;
    margin: 1px;
}
.off {
    transition: background-color 1000ms linear;
    background: radial-gradient(
        circle,
        rgba(142, 250, 142, 1) 29%,
        rgba(31, 98, 31, 1) 100%
    );
}

.on {
    transition: background-color 1000ms linear;
    background-color: rgba(31, 98, 31, 1);
}
